@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Merriweather:wght@900&family=Mukta:wght@600&family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/*components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/*screens*/
@import "screens/login.css";
@import "screens/friends.css";

body {
  font-family: "Heebo", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Mukta", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}
